/* Define theme variables */
html {
  --background-light: white;
  --text-light: #333333;
  --border-light: #b8b7b7;
  --accent-light: #50fa7b;
  --highlight-light: #b47eff;
  --hover-light: #5e48e7;
  --link-light: #000000;
  --link-hover-light: #5e48e7;
  --background-muted-light: #444;
  --text-shadow-muted-light: #eee8d5;
  --text-dark-color-light: #000;

  --background-dark: black;
  --text-dark: #ffffff;
  --border-dark: #545454;
  --accent-dark: #2d626e;
  --highlight-dark: #ff79c6;
  --hover-dark: #9fffe5;
  --link-dark: #a5ecfc;
  --link-hover-dark: #6272a4;
  --background-muted-dark: #444;
  --text-shadow-muted-dark: #eee8d5;
  --text-dark-color-dark: #000;

  --background-dracula: #282a36;
  --text-dracula: #f8f8f2;
  --border-dracula: #6272a4;
  --accent-dracula: #ff79c6;
  --highlight-dracula: rgb(220, 196, 255);
  --hover-dracula: #ff5555;
  --link-dracula: #8b38ff;
  --link-hover-dracula: #ae3077;
  --background-muted-dracula: #444;
  --text-shadow-muted-dracula: #eee8d5;
  --text-dark-color-dracula: #000;

  --background-peachoff: #ffecd1;
  --text-peachoff: #333333;
  --border-peachoff: #f04333;
  --accent-peachoff: #ff9a8b;
  --highlight-peachoff: #ff6f61;
  --hover-peachoff: #ff7f50;
  --link-peachoff: #0066cc;
  --link-hover-peachoff: #eef6ff;
  --background-muted-peachoff: #444;
  --text-shadow-muted-peachoff: #eee8d5;
  --text-dark-color-peachoff: #000;

  --background-purplegems: #f8f8f2;
  --text-purplegems: #282a36;
  --border-purplegems: #6272a4;
  --accent-purplegems: #bd93f9;
  --highlight-purplegems: #ff79c6;
  --hover-purplegems: #50fa7b;
  --link-purplegems: #6272a4;
  --link-hover-purplegems: #ff5555;
  --background-muted-purplegems: #444;
  --text-shadow-muted-purplegems: #eee8d5;
  --text-dark-color-purplegems: #000;

  --border-radius: 6px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

html.light {
  --background: var(--background-light);
  --text-color: var(--text-light);
  --border-color: var(--border-light);
  --accent: var(--accent-light);
  --highlight: var(--highlight-light);
  --hover: var(--hover-light);
  --link-color: var(--link-light);
  --link-hover-color: var(--link-hover-light);
  --background-muted: var(--background-muted-light);
  --text-shadow-muted: var(--text-shadow-muted-light);
  --text-dark-color: var(--text-dark-color-light);
}

html.dark {
  --background: var(--background-dark);
  --text-color: var(--text-dark);
  --border-color: var(--border-dark);
  --accent: var(--accent-dark);
  --highlight: var(--highlight-dark);
  --hover: var(--hover-dark);
  --link-color: var(--link-dark);
  --link-hover-color: var(--link-hover-dark);
  --background-muted: var(--background-muted-dark);
  --text-shadow-muted: var(--text-shadow-muted-dark);
  --text-dark-color: var(--text-dark-color-dark);
}

html.dracula {
  --background: var(--background-dracula);
  --text-color: var(--text-dracula);
  --border-color: var(--border-dracula);
  --accent: var(--accent-dracula);
  --highlight: var(--highlight-dracula);
  --hover: var(--hover-dracula);
  --link-color: var(--link-dracula);
  --link-hover-color: var(--link-hover-dracula);
  --background-muted: var(--background-muted-dracula);
  --text-shadow-muted: var(--text-shadow-muted-dracula);
  --text-dark-color: var(--text-dark-color-dracula);
}

html.peachoff {
  --background: var(--background-peachoff);
  --text-color: var(--text-peachoff);
  --border-color: var(--border-peachoff);
  --accent: var(--accent-peachoff);
  --highlight: var(--highlight-peachoff);
  --hover: var(--hover-peachoff);
  --link-color: var(--link-peachoff);
  --link-hover-color: var(--link-hover-peachoff);
  --background-muted: var(--background-muted-peachoff);
  --text-shadow-muted: var(--text-shadow-muted-peachoff);
  --text-dark-color: var(--text-dark-color-peachoff);
}

html.purplegems {
  --background: var(--background-purplegems);
  --text-color: var(--text-purplegems);
  --border-color: var(--border-purplegems);
  --accent: var(--accent-purplegems);
  --highlight: var(--highlight-purplegems);
  --hover: var(--hover-purplegems);
  --link-color: var(--link-purplegems);
  --link-hover-color: var(--link-hover-purplegems);
  --background-muted: var(--background-muted-purplegems);
  --text-shadow-muted: var(--text-shadow-muted-purplegems);
  --text-dark-color: var(--text-dark-color-purplegems);
}

/* Apply theme variables */
body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  color: var(--text-color);
}

h1 + h2 {
  font-size: 1.1rem;
  margin-top: -1.4rem;
  opacity: 0.9;
  font-weight: 400;
  color: var(--text-color);
}

main {
  max-width: 60rem;
  margin: auto;
}

p, li {
  font-size: 1rem;
  color: var(--border-color);
  opacity: 0.8;
}

li {
  margin: 1rem 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

.category-list, .tag-list {
  background-color: var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 20px 0;
  overflow: hidden;
}

.category-list h3, .tag-list h3 {
  color: var(--highlight);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px var(--text-shadow-muted);
  text-transform: uppercase;
}

.category-list ul, .tag-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.category-list li, .tag-list li {
  display: inline-block;
  margin: 10px;
}

.category-list .category, .tag-list .tag {
  background-color: var(--accent);
  border: 4px solid var(--highlight);
  border-radius: 20px;
  color: var(--text-dark-color);
  display: inline-block;
  font-size: 1.5rem;
  padding: 5px 20px;
  text-shadow: 1px 1px 0 var(--text-shadow-muted);
  transition: background-color 0.5s ease, font-size 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
}

.category-list .category:hover, .tag-list .tag:hover {
  background-color: var(--hover);
  color: var(--text-color);
  text-shadow: none;
  font-size: 1.6rem;
  font-weight: 900;
}

/* Remove underline from buttons */
.category-list .category, .tag-list .tag {
  text-decoration: none;
}

/* Container for the pagination */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin: 20px 0;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination a, .pagination span {
  padding: 8px 12px;
  text-decoration: none;
  background-color: var(--accent);
  color: var(--text-color);
  border-radius: 5px;
  display: block;
}

.pagination a.active {
  background-color: var(--highlight);
  color: var(--text-color);
  font-weight: bold;
}

.pagination a:hover {
  background-color: var(--hover);
}

.pagination .disabled a {
  background-color: var(--background-muted);
  pointer-events: none;
  opacity: 0.5;
}

.pagination span {
  background-color: transparent;
  color: var(--text-dark-color);
}

.grid-container {
  display: grid;
  gap: 20px;
  width: 90%;
  max-width: 60rem; 
  margin: 20px auto;
}

@media (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 999px) and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background-color: var(--background-muted);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--box-shadow);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid-item:hover {
  transform: translateY(-10px);
}

.link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.image-container {
  width: 100%;
  height: 150px;
  background-color: var(--background-muted);
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: var(--highlight);
}

.description {
  font-size: 1em;
  margin-bottom: 15px;
  color: var(--text-shadow-muted);
  flex-grow: 1;
}

.read-more {
  background-color: var(--hover);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: var(--link-hover-color);
}
