---
import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

interface Post {
  frontmatter: {
    tags: string | string[];
    title: string;
  };
  url: string;
}

export async function getStaticPaths(): Promise<Array<{ params: { tag: string }; props: { posts: Post[] } }>> {
  const allPosts: Post[] = await Astro.glob('../posts/*.md');

  const uniqueTags: string[] = [
    ...new Set(allPosts.flatMap((post: Post) => {
      const tags = post.frontmatter.tags;
      if (typeof tags === 'string') {
        return tags.split(',').map(tag => tag.trim());
      } else if (Array.isArray(tags)) {
        return tags.map(tag => tag.trim());
      } else {
        return [];
      }
    })),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredPosts: Post[] = allPosts.filter((post: Post) => {
      const tags = post.frontmatter.tags;
      if (typeof tags === 'string') {
        return tags.split(',').map(tag => tag.trim()).includes(tag);
      } else if (Array.isArray(tags)) {
        return tags.map(tag => tag.trim()).includes(tag);
      } else {
        return false;
      }
    });
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts }: { posts: Post[] } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: Post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
