---
import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');

  // Extract unique categories as strings
  const uniqueCategories = [
    ...new Set(allPosts.map((post) => post.frontmatter.category).filter(Boolean)),
  ];

  // Return the unique categories for generating static paths
  return uniqueCategories.map((category) => ({
    params: { category: category.toString() },
    props: { posts: allPosts.filter((post) => post.frontmatter.category === category) },
  }));
}

const { category } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={category}>
  <p>Posts in the {category} category</p>
  <ul>
    {posts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))}
  </ul>
</BaseLayout>
