---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = 'Category Index';
const allPosts = await Astro.glob('../posts/*.md');
const categories = [
  ...new Set(allPosts.map((post) => post.frontmatter.category).filter(Boolean)),
];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="category-list">
    <h3>Categories</h3>
    <ul>
      {
        categories.map((category) => (
          <li>
            <a class="category" href={`/categories/${category}`}>{category}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>


</style>