<button aria-label="Toggle to Light Theme" data-theme="light">Light</button>
<button aria-label="Toggle to Dark Theme" data-theme="dark">Dark</button>
<button aria-label="Toggle to Dracula Theme" data-theme="dracula">Dracula</button>
<button aria-label="Toggle to Peachoff Theme" data-theme="peachoff">Peachoff</button>

<style>
    button {
        cursor: pointer;
        border-radius: 10px;
        border: 0;
        padding: 5px 10px;
        transition: all 0.2s ease-in-out;
        margin: 0 5px;
    }
    button:hover {
        transform: scale(0.9);
    }
    button:active {
        transform: scale(1);
    }
    .sun {
        fill: transparent;
    }
    :global(.dark) .sun {
        fill: black;
    }
    :global(.dark) .moon {
        fill: transparent;
    }
    :global(.dracula) {
        /* Add specific styles for Dracula theme here */
        background-color: #282a36;
        color: #f8f8f2;
    }
    :global(.peachoff) {
        /* Add specific styles for Peachoff theme here */
        background-color: #ffecd1;
        color: #ff6f61;
    }
</style>

<script>
    const THEME_CLASSES = {
        LIGHT: "light",
        DARK: "dark",
        DRACULA: "dracula",
        PEACHOFF: "peachoff"
    };
    const COLOUR_MODE = "COLOR_MODE"; // local storage key

    const buttons = document.querySelectorAll("button[data-theme]");
    const rootEl = document.documentElement;

    // Add event listeners to each button
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const selectedTheme = button.getAttribute('data-theme');
            rootEl.className = selectedTheme; // Change theme

            // Save the current color mode to local storage
            window.localStorage.setItem(COLOUR_MODE, selectedTheme);
        });
    });
</script>
