---
// Import global styles
import '../styles/global.css';

// Import Header and Footer components
import Main from "../layouts/Main.astro";

//import Footer from '../components/Footer.astro';

// Get the pageTitle prop
const { pageTitle } = Astro.props;
---
<Main title="krafi.info - Blog">
      <h1>{pageTitle}</h1>
    <slot />
</Main>

