---
import Footer from "../components/Footer.astro"
import NavigationBar from "../components/NavigationBar.astro"
import ThemeToggler from "../components/ThemeToggler.astro"
import "../styles/global.css"
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Astro.generator" />
    <meta name="description" content="this is description" />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900&display=swap" rel="stylesheet">

    <script is:inline>
        const THEME_CLASSES = ["light", "dark", "dracula", "peachoff"];
        const COLOUR_MODE = "COLOR_MODE"; // local storage key

        const rootEl = document.documentElement;

        // Function to get initial color mode
        const getInitialColourMode = () => {
            const previouslySavedColourMode = window.localStorage.getItem(COLOUR_MODE);
            if (previouslySavedColourMode) {
                return previouslySavedColourMode;
            }

            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                return "dark";
            }
            return "light";
        };

        // Set initial color mode based on the saved preference or system preference
        const initialColourMode = getInitialColourMode();
        
        const setInitialColourMode = (mode) => {
            THEME_CLASSES.forEach(theme => {
                rootEl.classList.remove(theme);
            });
            rootEl.classList.add(mode);
        };

        // Set the initial color mode on page load
        setInitialColourMode(initialColourMode);
    </script>
</head>
<body>
    <main>
        <NavigationBar />
        <ThemeToggler />
        <slot />
        <Footer />
    </main>
</body>
</html>
